@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-ref {
        @apply w-full rounded-md border border-gray-300 focus:ring-2 focus:ring-blue-500 px-3 py-2 text-base placeholder:text-gray-400 text-gray-700 bg-white outline-none;
    }
}

body {
  background-color: #f9fafb;
}

.input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500;
}
