@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

.input {
  @apply border px-3 py-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400;
}
